body{
  background: '#222';
  color: 'white';
  max-width: 100vw;
  overflow: hidden;
  overflow-y:auto;
}
.section1, .section3, .section4{
  min-height: 100vh;
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section:nth-of-type(even){
  background: #fff;
}

.footer{
  color:'red'
}

.section2{
  max-width: 100vw;
  border: 1px solid red;
  overflow: hidden;
  overflow-x: auto;
}
.side-scroll{
  width: 200vw;
  display: flex;
  justify-content: flex-end;
  padding: 10vh;
}

.test{
  border: 1px solid orange
}
@keyframes turn{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes turnback{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-180deg);
  }
}

.rotating-box{
  position: absolute;
  height: 80vh;
  background: #ccc;
  animation-name: turn;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.step-7-element{
  animation-name: turnback;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
